<div class="container">
  <h1>Edit subject</h1>
  <%= simple_form_for [@subject] do |f| %>
    <%= f.error_notification %>

    <%= f.input :title, label: "Title" %>
    <%= f.input :content, label: "Content", as: :text %>

    <%= f.button :submit %>
  <% end %>
</div>
