<div class="container">
<h1>What's on your mind ?</h1>
  <%= simple_form_for [@subject] do |f|  %>
    <%= f.error_notification %>

    <%= f.input :title, label: "Title" %>
    <%= f.input :content, label: "Content" %>

    <%= f.button :submit %>
  <% end %>
</div>
