<div class="container">
  <div class="subject-show">
    <div class="subject-header">
      <h4><%= @subject.title %></h4>
      <% if user_signed_in? && @subject.user_id == current_user.id %>
        <%= link_to edit_subject_path(@subject) do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      <% end %>
    </div>
    <div class="subject-body">
      <p><%= @subject.content %></p>
      <% if @messages %>
        <% @messages.each do |m| %>
          <div class="message">
            <%= m.content %>
            <%= m.user.username %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="add-message">
    <%= render 'messages/new', subject: @subject, message: @message %>
  </div>
  <div class="nav-buttons">
    <%= link_to "Back", subjects_path, class: 'button' %>
  </div>
</div>
