<div class="container">
  <div class="subject-show">
    <div class="subject-header">
      <div class="subject-title">
        <h4 style="display: inline-block;"><%= @subject.title %></h4>
        <p style="display: inline-block;">Votes: <%= @subject.score %></p>
        <% if user_signed_in? && @subject.user_id == current_user.id %>
          <%= link_to edit_subject_path(@subject) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        <% end %>
      </div>
      <div class="subject-author">
        <p>Started by <%= @subject.user.username %></p>
      </div>
    </div>
    <div class="subject-body">
      <p><%= @subject.content %></p>
      <%= simple_form_for @subject.upvotes.build, url: subject_upvotes_path(@subject), remote: true do |f| %>
        <%= f.hidden_field :user, value: current_user %>
        <%= f.submit '+1', class: 'button upvote-submit' %>
      <% end %>
      <% if @messages %>
        <% @messages.each do |m| %>
          <div class="message">
            <p><%= m.content %></p>
            <div class="message-autor">
              <p style="display: inline-block;"><%= m.user.username %></p>
              <% if m.user_id == current_user.id %>
                <%= link_to edit_subject_message_path(@subject,m) do %>
                  <i style="display: inline-block;" class="fa fa-pencil"></i>
                <% end %>
                <%= link_to subject_message_path(@subject, m), method: :delete do %>
                  <i style="display: inline-block;" class="fa fa-trash"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="add-message">
    <%= render 'messages/new', subject: @subject, message: @message %>
  </div>
  <div class="nav-buttons">
    <%= link_to "Back", subjects_path, class: 'button' %>
  </div>
</div>
