<div class="navbar-reddit">
  <div class="navbar-logo">
    <%= link_to root_path do %>
      <%= image_tag("reddit-logo.png") %>
    <% end %>
  </div>
  <div class="navbar-right">
    <div class="navbar-links">
      <% if user_signed_in? %>
        <%= link_to "New subject", new_subject_path, class: "navbar-link" %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn-navbar" %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "btn-navbar"  %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn-navbar" %>
      <% end %>
    </div>
  </div>
</div>
